main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.adocao {
    width: 30vw;
    height: 40vh;
    background-color: #ffffff;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box; 
}

.input-label {
    background-color: #fff;
    padding: 2px 5px;
}






