#wolves-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.wolves-display{
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 70%;
    gap: 4em;
    padding: 4em;
}

.wolves-display img{
    width: 23em;
    height: auto;
    box-shadow: -1.5625em -1.5625em #2C5680, -1.25em -1.875em #333, -1.875em -1.25em #333, -1.875em -1.875em #333;
}


.wolves-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.2em;
    width: 23em;

}

.wolves-texto p{
    margin-top: 1em;
    font-size: 1.0625em;
    line-height: 1em;
}

#wolves-display-reverse{
    flex-direction: row-reverse;
}

#wolves-display-reverse p, #wolves-display-reverse h2, #wolves-display-reverse span{
    width: 100%;
    text-align: right;
}

#wolves-display-reverse img{
    box-shadow: 1.5625em -1.5625em #2C5680, 1.25em -1.875em #333, 1.875em -1.25em #333, 1.875em -1.875em #333;
}

.searchBar {
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
    justify-content: center;
}

.searchInput {
    width: 50vw; /* Defina o tamanho desejado para o input em pixels */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.btnSearch {
    padding: 10px 20px;
    background-color: #ffc400; 
    color: #fff; 
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; /
}

.btnAdop {


    padding: 10px 20px;
    background-color: #f0da12; 
    color: #f0e9e9; 
    border: none;
    border-radius: 5px; 
    font-size: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: relative;

}

.btnAdop::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.btnAdop.clicked::before {
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.8); 


}
.btnAdop.clicked {
    background-color: #08f800;
    color: #f0e9e9;
}

#pagination button {

    padding: 10px 20px;
    background-color: #ffc400; 
    color: #fff; 
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; /

}
