.container{
    position:relative;

}


.aba_ind_lobo {
    display: inline-block;
    margin: 2rem 10rem;
}

#enviar_msg {
    background-color: #2C5680;
   
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-self: center;
    width: 9.5rem;
    height: 2.5rem;
    
}



.img_lobo {
    border-radius: 100%;
    object-fit: cover;
    width: 12rem;
    height: 12rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

input {
    border:none;
    outline: none;
}


.cadastro {
    position: absolute;
    margin: auto;
    border:none;
    align-items: center;
    
   

}

.nome_idade {
    position:relative;
    display: inline-flex;
    font-size: 1.5rem;
}   

.email {
    font-size: 1.5rem;
   

}
.nome{
    
    align-items: left;
}

button{
    color:aliceblue;
    font-size: 1.2rem;
    height: 3rem;

} 
    
.digitar_email hr{
    border-color:#aaa;
  box-sizing:border-box;
  width:100vh;
}


.digitar_nome {
    width: 90vh;
}
.aba_ind_lobo{
    
    position:relative;
    display: inline-flex;


}

#cadastro{
    margin:3rem 10rem;
}

.digitar_idade{
    width: 100%;

}

.hr_nome{
    width: 80%;

}